.Container {
      /* Setting display: flex, creates the flex container. Now, all direct children of the container become flex items */
      display: flex;

      /* centers the card horizontally */
      justify-content: center;
      /* centers the card vertically */
      align-items: center;
      /* Ensure the container takes full viewport height */
      height: 100vh;

      background-color: hsl(47, 88%, 63%);
      font-family: 'Figtree', sans-serif;
    }

    .Card {
      background-color: hsl(0, 0%, 100%);
      width: 344px;
      padding: 24px;
      border-radius: 16px;
      border: 1px solid black;
      box-shadow: 10px 10px black
    }

    .Card_image {
      width: 100%;
      border-radius: 8px;
    }

    h1 {
      font-weight: 800;
      font-size: 24px;
    }

    a {
      text-decoration: none;
    }

    a:link,
    a:visited,
    a:active {
      color: black;
    }

    a:hover {
      color: hsl(47, 88%, 63%);
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }

    .Pill p {
      width: fit-content;
      background-color: hsl(47, 88%, 63%);
      font-weight: 800;
      padding: 8px 16px;
      border-radius: 4px;
    }

    .Detail {
      color: hsl(0, 0%, 42%);
      font: 500 16px/24px 'Figtree', sans-serif;
    }

    .Author {
      display: flex;
      height: 32px;
      align-items: center;
    }

    .Author_image {
      height: 100%;
    }

    .Author_name {
      font-weight: 800;
      padding-left: 5px;
    }